.dashboard {
    width: 100%;
    height: calc(100vh - 60px);
    margin: auto;
    padding: 10px auto;
    background-color: gray;
}

.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    font-family: 'poppins', sans-serif;
}

.header h1 {
    font-weight: 100;
}

.notify {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.dashboard img {
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

.job__text {
    width: 100%;
}

.mains {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.dashboard__mains {
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    border-radius: 10px;
    position: relative;
}
.main__content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    font-family: 'poppins', sans-serif;
}

.job__text {
    width: 100%;

    padding: 40px 30px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.img__text {
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border: 1px solid green;
    border-radius: 10px;
}

.icons {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;

}

.icon {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}

.icon1 {
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
}

.btn__cont {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.add_over {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.add_field {
    resize: none;
    width: 300px;
    height: 200px;
    padding: 5px;
}

.add__over{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.add__field {
    resize: none;
    width: 300px;
    height: 200px;
    padding: 5px;
}

.del_over {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    width: 300px;
    height: 300px;
}




.upload {
    border: 1px;
    background-color: #fff;
}

